job_pipeline.json
{
  "name": "Job Intelligence Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0bd5ffad-5ff2-4f75-9a1f-6c75ee90dae2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs?category=business&limit=20",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "3c7c0a4c-a1ec-474d-b276-702da5964b9d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "27a1d41a-c83c-4687-81c7-efe69bcb4b1a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a job relevance evaluator. Analyze this job posting and return ONLY valid JSON, no markdown, no explanation.\n\nJob title: {{ $json.title }}\nCompany: {{ $json.company_name }}\nCategory: {{ $json.category }}\nTags: {{ $json.tags }}\n\nCandidate profile: Junior AI Business Analyst / Process Automation Specialist. \nSkills: Python, LangChain, RAG, FastAPI, Docker, BPMN, business process analysis, LLM integration. \nLooking for: BA, AI Engineer, automation, process improvement roles. Remote or Prague.\n\nReturn this exact JSON:\n{\n  \"score\": <number 0-10>,\n  \"reason\": \"<one sentence why>\",\n  \"stack\": \"<key technologies mentioned>\",\n  \"remote\": <true or false>,\n  \"summary\": \"<one line job description in Russian>\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "d26d3055-16b9-44b7-834d-9ce44b595589",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_API_KEY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f9caf1d-d50a-47cd-ac24-5f4166fef9f8",
              "name": "score ",
              "value": "={{ JSON.parse($json.output[0].content[0].text).score }}",
              "type": "number"
            },
            {
              "id": "4141827f-61b9-424c-866b-1e5d108ba838",
              "name": "summary",
              "value": "={{ JSON.parse($json.output[0].content[0].text).summary }}",
              "type": "string"
            },
            {
              "id": "d7f1953f-5bbe-42e4-bcd0-3af0cae18f6d",
              "name": "title",
              "value": "={{ $('Split Out').item.json.title }}",
              "type": "string"
            },
            {
              "id": "07397f09-bf70-4612-958b-9ac115a11b0f",
              "name": "url",
              "value": "={{ $('Split Out').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ],
      "id": "07314c81-e308-4600-9c1b-648ba23e0522",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e41e8a9-70d2-4ea7-8dcf-505a354e4b20",
              "leftValue": "={{ $json.score }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1184,
        0
      ],
      "id": "b2bc1003-0914-49c1-ab13-e9e626f48949",
      "name": "Filter"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=*{{ $json.title }}* Score: {{ $json.score }}/10 {{ $json.summary }} {{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        0
      ],
      "id": "2a16c343-ed63-4784-8a49-cb222cbca8d1",
      "name": "Send a text message",
      "webhookId": "ee490d88-de00-49ff-b7c8-0c499b5407f3",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "55d594c9-2a66-4bc3-a197-f52ec51877ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "dtJT5rEmwbVdRHkG",
  "tags": []
}
